## 深入浅出pandas-1

pandas是一个支持数据分析全流程的Python开源库，它的作者Wes McKinney于2008年开始开发这个库，其主要目标是提供一个大数据分析和处理的工具。pandas封装了从数据加载、数据重塑、数据清洗到数据透视、数据呈现等一系列操作，提供了三种核心的数据类型：
1. `Series`：数据系列，表示一维的数据。跟一维数组的区别在于每条数据都有对应的索引，处理数据的方法比`ndarray`更为丰富。
2. `DataFrame`：数据框、数据窗、数据表，表示二维的数据。跟二维数组相比，`DataFrame`有行索引和列索引，而且提供了100+方法来处理数据。
3. `Index`：为`Series`和`DataFrame`提供索引服务。

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['font.sans-serif'].insert(0, 'SimHei')
plt.rcParams['axes.unicode_minus'] = False
get_ipython().run_line_magic('config', "InlineBackend.figure_format = 'svg'")

### 创建DataFrame对象

In [2]:
np.random.seed(20)

In [3]:
stu_names = ['狄仁杰', '白起', '李元芳', '苏妲己', '孙尚香']
cou_names = ['语文', '数学', '英语']
scores_arr = np.random.randint(60, 101, (5, 3))
scores_arr

array([[ 95,  86,  75],
       [ 91,  88,  86],
       [ 69,  80,  71],
       [ 82,  67,  94],
       [ 92, 100,  81]])

In [4]:
# 方法一：通过二维数组构造DataFrame对象
df1 = pd.DataFrame(data=scores_arr, columns=cou_names, index=stu_names)
df1

     语文   数学  英语
狄仁杰  95   86  75
白起   91   88  86
李元芳  69   80  71
苏妲己  82   67  94
孙尚香  92  100  81

In [5]:
# 行索引
df1.index

Index(['狄仁杰', '白起', '李元芳', '苏妲己', '孙尚香'], dtype='object')

In [6]:
# 列索引
df1.columns

Index(['语文', '数学', '英语'], dtype='object')

In [7]:
# 值 - 二维数组
df1.values

array([[ 95,  86,  75],
       [ 91,  88,  86],
       [ 69,  80,  71],
       [ 82,  67,  94],
       [ 92, 100,  81]])

In [8]:
scores_dict = {
    '语文': [95, 91, 69, 82, 92],
    '数学': [86, 88, 80, 67, 100],
    '英语': [75, 86, 71, 94, 81]
}

In [9]:
# 方法二：通过数据字典构造DataFrame对象
df2 = pd.DataFrame(data=scores_dict, index=stu_names)
df2

     语文   数学  英语
狄仁杰  95   86  75
白起   91   88  86
李元芳  69   80  71
苏妲己  82   67  94
孙尚香  92  100  81

In [10]:
# 查看DataFrame信息
df2.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 狄仁杰 to 孙尚香
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   语文      5 non-null      int64
 1   数学      5 non-null      int64
 2   英语      5 non-null      int64
dtypes: int64(3)
memory usage: 558.0 bytes

In [11]:
# 方法三：从CSV文件加载数据创建DataFrame对象
df3 = pd.read_csv(
    'res/2023年北京积分落户数据.csv',
    # encoding='utf-8',  # 指定字符编码
    # sep='',  # 指定字段的分隔符（默认逗号）
    # delimiter='#',
    # header=0,  # 表头所在的行
    # quotechar='"',  # 包裹字符串的字符（默认双引号）
    # index_col='公示编号',  # 索引列
    # usecols=['公示编号', '姓名', '积分分值'],  # 指定加载的列
    # nrows=10,  # 加载的行数
    # skiprows=np.arange(1, 101),  # 跳过哪些行
    # true_values=['是', 'Yes', 'YES'],  # 哪些值会被视为布尔值True
    # false_values=['否', 'No', 'NO'],  # 哪些值会被视为布尔值False
    # na_values=['---', 'N/A'],  # 哪些值会被视为空值
    # iterator=True,  # 开启迭代器模式
    # chunksize=1000,  # 每次加载的数据体量
)
df3

           公示编号   姓名     出生年月                 单位名称    积分分值
0     202300001   张浩  1977-02           北京首钢股份有限公司  140.05
1     202300002   冯云  1982-02        中国人民解放军空军二十三厂  134.29
2     202300003  王天东  1975-01       中建二局第三建筑工程有限公司  133.63
3     202300004   陈军  1976-07       中建二局第三建筑工程有限公司  133.29
4     202300005  樊海瑞  1981-06         中国民生银行股份有限公司  132.46
...         ...  ...      ...                  ...     ...
5998  202305999   曹恰  1983-09           首都师范大学科德学院  109.92
5999  202306000   罗佳  1981-05  厦门方胜众合企业服务有限公司海淀分公司  109.92
6000  202306001  席盛代  1983-06  中国华能集团清洁能源技术研究院有限公司  109.92
6001  202306002  彭芸芸  1981-09       北京汉杰凯德文化传播有限公司  109.92
6002  202306003   张越  1982-01          大爱城投资控股有限公司  109.92

[6003 rows x 5 columns]

In [12]:
# %pip install openpyxl

In [13]:
# 方法四：从Excel文件加载数据创建DataFrame对象
df6 = pd.read_excel(
    'res/2020年销售数据.xlsx',
    sheet_name='data',
)
df6

           销售日期 销售区域 销售渠道            销售订单    品牌   售价  销售数量  直接成本
0    2020-01-01   上海  拼多多      182894-455   八匹马   99    83  3351
1    2020-01-01   上海   抖音      205635-402   八匹马  219    29  1016
2    2020-01-01   上海   天猫      205654-021   八匹马  169    85  6320
3    2020-01-01   上海   天猫      205654-519   八匹马  169    14   485
4    2020-01-01   上海   天猫      377781-010   皮皮虾  249    61  2452
...         ...  ...  ...             ...   ...  ...   ...   ...
1940 2020-12-30   北京   京东          D89677  花花姑娘  269    26  1560
1941 2020-12-30   福建   实体      182719-050   八匹马   79    97  3028
1942 2020-12-31   福建   实体          G70083  花花姑娘  269    55  2277
1943 2020-12-31   福建   抖音  211471-902/704   八匹马   59    59   852
1944 2020-12-31   福建   天猫      211807-050   八匹马   99    27   435

[1945 rows x 8 columns]

In [14]:
# %pip install -U pymysql cryptography sqlalchemy

In [15]:
# 方法五：从数据服务器加载数据创建DataFrame对象
from sqlalchemy import create_engine

# URL 
engine = create_engine('mysql+pymysql://guest:Guest.618@47.109.26.237:3306/hrs')
engine

Engine(mysql+pymysql://guest:***@47.109.26.237:3306/hrs)

In [16]:
dept_df = pd.read_sql('tb_dept', engine, index_col='dno')
dept_df

    dname dloc
dno
10    会计部   北京
20    研发部   成都
30    销售部   重庆
40    运维部   深圳

In [17]:
emp_df1 = pd.read_sql('tb_emp', engine, index_col='eno')
emp_df1

     ename   job     mgr   sal    comm  dno
eno
1359   胡一刀   销售员  3344.0  1800   200.0   30
2056    乔峰   分析师  7800.0  5000  1500.0   20
3088   李莫愁   设计师  2056.0  3500   800.0   20
3211   张无忌   程序员  2056.0  3200     NaN   20
3233   丘处机   程序员  2056.0  3400     NaN   20
3244   欧阳锋   程序员  3088.0  3200     NaN   20
3251   张翠山   程序员  2056.0  4000     NaN   20
3344    黄蓉  销售主管  7800.0  3000   800.0   30
3577    杨过    会计  5566.0  2200     NaN   10
3588   朱九真    会计  5566.0  2500     NaN   10
4466   苗人凤   销售员  3344.0  2500     NaN   30
5234    郭靖    出纳  5566.0  2000     NaN   10
5566   宋远桥   会计师  7800.0  4000  1000.0   10
7800   张三丰    总裁     NaN  9000  1200.0   20

In [18]:
emp_df2 = pd.read_sql('tb_emp2', engine, index_col='eno')
emp_df2

     ename  job     mgr    sal  comm  dno
eno
9500   张三丰   总裁     NaN  50000  8000   20
9600   王大锤  程序员  9800.0   8000   600   20
9700   张三丰   总裁     NaN  60000  6000   20
9800    骆昊  架构师  7800.0  30000  5000   20
9900   陈小刀  分析师  9800.0  10000  1200   20

In [19]:
# 关闭连接释放资源
engine.connect().close()

### 查看信息

In [20]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1945 entries, 0 to 1944
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   销售日期    1945 non-null   datetime64[ns]
 1   销售区域    1945 non-null   object
 2   销售渠道    1945 non-null   object
 3   销售订单    1945 non-null   object
 4   品牌      1945 non-null   object
 5   售价      1945 non-null   int64
 6   销售数量    1945 non-null   int64
 7   直接成本    1945 non-null   int64
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 121.7+ KB

In [21]:
# 获取前N行
df6.head(3)

        销售日期 销售区域 销售渠道        销售订单   品牌   售价  销售数量  直接成本
0 2020-01-01   上海  拼多多  182894-455  八匹马   99    83  3351
1 2020-01-01   上海   抖音  205635-402  八匹马  219    29  1016
2 2020-01-01   上海   天猫  205654-021  八匹马  169    85  6320

In [22]:
# 获取后N行
df6.tail(5)

           销售日期 销售区域 销售渠道            销售订单    品牌   售价  销售数量  直接成本
1940 2020-12-30   北京   京东          D89677  花花姑娘  269    26  1560
1941 2020-12-30   福建   实体      182719-050   八匹马   79    97  3028
1942 2020-12-31   福建   实体          G70083  花花姑娘  269    55  2277
1943 2020-12-31   福建   抖音  211471-902/704   八匹马   59    59   852
1944 2020-12-31   福建   天猫      211807-050   八匹马   99    27   435

### 操作行、列、单元格

In [23]:
# 访问列
df6['销售日期']

0      2020-01-01
1      2020-01-01
2      2020-01-01
3      2020-01-01
4      2020-01-01
          ...
1940   2020-12-30
1941   2020-12-30
1942   2020-12-31
1943   2020-12-31
1944   2020-12-31
Name: 销售日期, Length: 1945, dtype: datetime64[ns]

In [24]:
df6.销售渠道

0       拼多多
1        抖音
2        天猫
3        天猫
4        天猫
       ...
1940     京东
1941     实体
1942     实体
1943     抖音
1944     天猫
Name: 销售渠道, Length: 1945, dtype: object

In [25]:
df6['销售渠道']

0       拼多多
1        抖音
2        天猫
3        天猫
4        天猫
       ...
1940     京东
1941     实体
1942     实体
1943     抖音
1944     天猫
Name: 销售渠道, Length: 1945, dtype: object

In [26]:
type(df6['销售日期'])

pandas.core.series.Series

In [27]:
df6[['销售渠道']]

     销售渠道
0     拼多多
1      抖音
2      天猫
3      天猫
4      天猫
...   ...
1940   京东
1941   实体
1942   实体
1943   抖音
1944   天猫

[1945 rows x 1 columns]

In [28]:
type(df6[['销售渠道']])

pandas.core.frame.DataFrame

In [29]:
# 访问多个列 - 花式索引
df6[['销售日期', '销售区域', '直接成本']]

           销售日期 销售区域  直接成本
0    2020-01-01   上海  3351
1    2020-01-01   上海  1016
2    2020-01-01   上海  6320
3    2020-01-01   上海   485
4    2020-01-01   上海  2452
...         ...  ...   ...
1940 2020-12-30   北京  1560
1941 2020-12-30   福建  3028
1942 2020-12-31   福建  2277
1943 2020-12-31   福建   852
1944 2020-12-31   福建   435

[1945 rows x 3 columns]

In [30]:
df6.columns[3:7]

Index(['销售订单', '品牌', '售价', '销售数量'], dtype='object')

In [31]:
df6[df6.columns[3:7]]

                销售订单    品牌   售价  销售数量
0         182894-455   八匹马   99    83
1         205635-402   八匹马  219    29
2         205654-021   八匹马  169    85
3         205654-519   八匹马  169    14
4         377781-010   皮皮虾  249    61
...              ...   ...  ...   ...
1940          D89677  花花姑娘  269    26
1941      182719-050   八匹马   79    97
1942          G70083  花花姑娘  269    55
1943  211471-902/704   八匹马   59    59
1944      211807-050   八匹马   99    27

[1945 rows x 4 columns]

In [32]:
# 访问行 - loc属性
df6.loc[1944]

销售日期    2020-12-31 00:00:00
销售区域                     福建
销售渠道                     天猫
销售订单             211807-050
品牌                      八匹马
售价                       99
销售数量                     27
直接成本                    435
Name: 1944, dtype: object

In [33]:
df6.iloc[-1]

销售日期    2020-12-31 00:00:00
销售区域                     福建
销售渠道                     天猫
销售订单             211807-050
品牌                      八匹马
售价                       99
销售数量                     27
直接成本                    435
Name: 1944, dtype: object

In [34]:
# 访问多行 - 花式索引
df6.loc[[0, 100, 58, 1000, 1000, 1000, 1099]]

           销售日期 销售区域 销售渠道        销售订单    品牌   售价  销售数量   直接成本
0    2020-01-01   上海  拼多多  182894-455   八匹马   99    83   3351
100  2020-01-15   福建   天猫  529753-010   皮皮虾  329    18   1839
58   2020-01-10   北京   天猫   AWDH584-1    壁虎  299    14   1495
1000 2020-05-29   上海   天猫      G71332  花花姑娘  899    92  35120
1000 2020-05-29   上海   天猫      G71332  花花姑娘  899    92  35120
1000 2020-05-29   上海   天猫      G71332  花花姑娘  899    92  35120
1099 2020-06-17   上海  拼多多      G70077  花花姑娘  329    38   2266

In [35]:
# 访问多行 - 切片索引
df6.loc[101:200]

          销售日期 销售区域 销售渠道        销售订单   品牌    售价  销售数量   直接成本
101 2020-01-15   福建   天猫  532500-011  皮皮虾   399    42   2771
102 2020-01-15   福建   京东  543179-011  皮皮虾   429    92  10216
103 2020-01-15   福建   实体  543367-077  皮皮虾  1199    73  16161
104 2020-01-15   福建  拼多多  634872-021  皮皮虾   179    46   1322
105 2020-01-15   福建   抖音   ADLG008-1   壁虎   239    65   6154
..         ...  ...  ...         ...  ...   ...   ...    ...
196 2020-01-26   福建  拼多多  449794-494  皮皮虾   249    98   9996
197 2020-01-26   福建   抖音  543330-063  皮皮虾   549    32   3581
198 2020-01-26   福建   天猫  575088-010  皮皮虾   399    40   4088
199 2020-01-26   福建   天猫  575107-010  皮皮虾   449    32   4144
200 2020-01-26   福建   天猫  182721-050  八匹马    99    85   3439

[100 rows x 8 columns]

In [36]:
# df6[101:200]
df6.iloc[101:200]

          销售日期 销售区域 销售渠道        销售订单   品牌    售价  销售数量   直接成本
101 2020-01-15   福建   天猫  532500-011  皮皮虾   399    42   2771
102 2020-01-15   福建   京东  543179-011  皮皮虾   429    92  10216
103 2020-01-15   福建   实体  543367-077  皮皮虾  1199    73  16161
104 2020-01-15   福建  拼多多  634872-021  皮皮虾   179    46   1322
105 2020-01-15   福建   抖音   ADLG008-1   壁虎   239    65   6154
..         ...  ...  ...         ...  ...   ...   ...    ...
195 2020-01-26   福建   实体  449794-091  皮皮虾   249    78   3424
196 2020-01-26   福建  拼多多  449794-494  皮皮虾   249    98   9996
197 2020-01-26   福建   抖音  543330-063  皮皮虾   549    32   3581
198 2020-01-26   福建   天猫  575088-010  皮皮虾   399    40   4088
199 2020-01-26   福建   天猫  575107-010  皮皮虾   449    32   4144

[99 rows x 8 columns]

In [37]:
df6.iloc[-1:-101:-1]

           销售日期 销售区域 销售渠道            销售订单    品牌   售价  销售数量  直接成本
1944 2020-12-31   福建   天猫      211807-050   八匹马   99    27   435
1943 2020-12-31   福建   抖音  211471-902/704   八匹马   59    59   852
1942 2020-12-31   福建   实体          G70083  花花姑娘  269    55  2277
1941 2020-12-30   福建   实体      182719-050   八匹马   79    97  3028
1940 2020-12-30   北京   京东          D89677  花花姑娘  269    26  1560
...         ...  ...  ...             ...   ...  ...   ...   ...
1849 2020-12-03   福建   抖音      543458-452   皮皮虾  229    17  1041
1848 2020-12-03   福建   实体      211894-021   八匹马  169    76  3844
1847 2020-12-02   北京   京东      182894-455   八匹马   99    22   731
1846 2020-12-01   北京   天猫      158609-477   八匹马   79    80  2436
1845 2020-12-01   北京   天猫          G89395  花花姑娘  369    92  5291

[100 rows x 8 columns]

In [38]:
# 访问单元格
df6.at[2, '售价']

169

In [39]:
df6.at[2, '售价'] = 999
df6

           销售日期 销售区域 销售渠道            销售订单    品牌   售价  销售数量  直接成本
0    2020-01-01   上海  拼多多      182894-455   八匹马   99    83  3351
1    2020-01-01   上海   抖音      205635-402   八匹马  219    29  1016
2    2020-01-01   上海   天猫      205654-021   八匹马  999    85  6320
3    2020-01-01   上海   天猫      205654-519   八匹马  169    14   485
4    2020-01-01   上海   天猫      377781-010   皮皮虾  249    61  2452
...         ...  ...  ...             ...   ...  ...   ...   ...
1940 2020-12-30   北京   京东          D89677  花花姑娘  269    26  1560
1941 2020-12-30   福建   实体      182719-050   八匹马   79    97  3028
1942 2020-12-31   福建   实体          G70083  花花姑娘  269    55  2277
1943 2020-12-31   福建   抖音  211471-902/704   八匹马   59    59   852
1944 2020-12-31   福建   天猫      211807-050   八匹马   99    27   435

[1945 rows x 8 columns]

In [40]:
df6.iat[2, -3] = 888
df6

           销售日期 销售区域 销售渠道            销售订单    品牌   售价  销售数量  直接成本
0    2020-01-01   上海  拼多多      182894-455   八匹马   99    83  3351
1    2020-01-01   上海   抖音      205635-402   八匹马  219    29  1016
2    2020-01-01   上海   天猫      205654-021   八匹马  888    85  6320
3    2020-01-01   上海   天猫      205654-519   八匹马  169    14   485
4    2020-01-01   上海   天猫      377781-010   皮皮虾  249    61  2452
...         ...  ...  ...             ...   ...  ...   ...   ...
1940 2020-12-30   北京   京东          D89677  花花姑娘  269    26  1560
1941 2020-12-30   福建   实体      182719-050   八匹马   79    97  3028
1942 2020-12-31   福建   实体          G70083  花花姑娘  269    55  2277
1943 2020-12-31   福建   抖音  211471-902/704   八匹马   59    59   852
1944 2020-12-31   福建   天猫      211807-050   八匹马   99    27   435

[1945 rows x 8 columns]

In [41]:
# 添加列
df6['销售额'] = df6['售价'] * df6['销售数量']
df6['季度'] = df6['销售日期'].dt.quarter
df6['月份'] = df6['销售日期'].dt.month
df6

,销售日期,销售区域,销售渠道,销售订单,品牌,售价,销售数量,直接成本,销售额,季度,月份
0,2020-01-01,上海,拼多多,182894-455,八匹马,99,83,3351,8217,1,1
1,2020-01-01,上海,抖音,205635-402,八匹马,219,29,1016,6351,1,1
2,2020-01-01,上海,天猫,205654-021,八匹马,888,85,6320,75480,1,1
3,2020-01-01,上海,天猫,205654-519,八匹马,169,14,485,2366,1,1
4,2020-01-01,上海,天猫,377781-010,皮皮虾,249,61,2452,15189,1,1
...,...,...,...,...,...,...,...,...,...,...,...
1940,2020-12-30,北京,京东,D89677,花花姑娘,269,26,1560,6994,4,12
1941,2020-12-30,福建,实体,182719-050,八匹马,79,97,3028,7663,4,12
1942,2020-12-31,福建,实体,G70083,花花姑娘,269,55,2277,14795,4,12
1943,2020-12-31,福建,抖音,211471-902/704,八匹马,59,59,852,3481,4,12
1944,2020-12-31,福建,天猫,211807-050,八匹马,99,27,435,2673,4,12

In [42]:
# 添加行 - 实际工作中基本没有意义

In [43]:
# 删除列
# inplace=False - 默认设定 - 不修改原对象返回修改后的新对象
# inplace=True - 直接修改DataFrame对象不返回新对象 - 方法没有返回值
df6.drop(columns=['季度'], inplace=True)
df6

           销售日期 销售区域 销售渠道            销售订单    品牌   售价  销售数量  直接成本    销售额  月份
0    2020-01-01   上海  拼多多      182894-455   八匹马   99    83  3351   8217   1
1    2020-01-01   上海   抖音      205635-402   八匹马  219    29  1016   6351   1
2    2020-01-01   上海   天猫      205654-021   八匹马  888    85  6320  75480   1
3    2020-01-01   上海   天猫      205654-519   八匹马  169    14   485   2366   1
4    2020-01-01   上海   天猫      377781-010   皮皮虾  249    61  2452  15189   1
...         ...  ...  ...             ...   ...  ...   ...   ...    ...  ..
1940 2020-12-30   北京   京东          D89677  花花姑娘  269    26  1560   6994  12
1941 2020-12-30   福建   实体      182719-050   八匹马   79    97  3028   7663  12
1942 2020-12-31   福建   实体          G70083  花花姑娘  269    55  2277  14795  12
1943 2020-12-31   福建   抖音  211471-902/704   八匹马   59    59   852   3481  12
1944 2020-12-31   福建   天猫      211807-050   八匹马   99    27   435   2673  12

[1945 rows x 10 columns]

In [44]:
# 删除行
# df6.drop(index=[0, 1, 2, 100, 1944, 1943])
df6.drop(index=[0, 1, 2, 100, 1944, 1943], inplace=True)
df6

           销售日期 销售区域 销售渠道        销售订单    品牌   售价  销售数量   直接成本    销售额  月份
3    2020-01-01   上海   天猫  205654-519   八匹马  169    14    485   2366   1
4    2020-01-01   上海   天猫  377781-010   皮皮虾  249    61   2452  15189   1
5    2020-01-02   上海   京东  543369-010   皮皮虾  799    68  15203  54332   1
6    2020-01-02   上海  拼多多  588685-002   皮皮虾  299    91   8008  27209   1
7    2020-01-03   上海   天猫   AKLH641-1    壁虎  239    82   4127  19598   1
...         ...  ...  ...         ...   ...  ...   ...    ...    ...  ..
1938 2020-12-29   北京  拼多多  588682-010   皮皮虾  269    50   4388  13450  12
1939 2020-12-29   北京   天猫  599007-513   皮皮虾  349    18   2466   6282  12
1940 2020-12-30   北京   京东      D89677  花花姑娘  269    26   1560   6994  12
1941 2020-12-30   福建   实体  182719-050   八匹马   79    97   3028   7663  12
1942 2020-12-31   福建   实体      G70083  花花姑娘  269    55   2277  14795  12

[1939 rows x 10 columns]

In [45]:
df6.drop(index=df6.index[100:200], inplace=True)
df6

           销售日期 销售区域 销售渠道        销售订单    品牌   售价  销售数量   直接成本    销售额  月份
3    2020-01-01   上海   天猫  205654-519   八匹马  169    14    485   2366   1
4    2020-01-01   上海   天猫  377781-010   皮皮虾  249    61   2452  15189   1
5    2020-01-02   上海   京东  543369-010   皮皮虾  799    68  15203  54332   1
6    2020-01-02   上海  拼多多  588685-002   皮皮虾  299    91   8008  27209   1
7    2020-01-03   上海   天猫   AKLH641-1    壁虎  239    82   4127  19598   1
...         ...  ...  ...         ...   ...  ...   ...    ...    ...  ..
1938 2020-12-29   北京  拼多多  588682-010   皮皮虾  269    50   4388  13450  12
1939 2020-12-29   北京   天猫  599007-513   皮皮虾  349    18   2466   6282  12
1940 2020-12-30   北京   京东      D89677  花花姑娘  269    26   1560   6994  12
1941 2020-12-30   福建   实体  182719-050   八匹马   79    97   3028   7663  12
1942 2020-12-31   福建   实体      G70083  花花姑娘  269    55   2277  14795  12

[1839 rows x 10 columns]

In [46]:
# 重命名
df6.rename(columns={'销售区域': '区域', '销售渠道': '渠道', '销售订单': '订单号'}, inplace=True)
df6

           销售日期  区域   渠道         订单号    品牌   售价  销售数量   直接成本    销售额  月份
3    2020-01-01  上海   天猫  205654-519   八匹马  169    14    485   2366   1
4    2020-01-01  上海   天猫  377781-010   皮皮虾  249    61   2452  15189   1
5    2020-01-02  上海   京东  543369-010   皮皮虾  799    68  15203  54332   1
6    2020-01-02  上海  拼多多  588685-002   皮皮虾  299    91   8008  27209   1
7    2020-01-03  上海   天猫   AKLH641-1    壁虎  239    82   4127  19598   1
...         ...  ..  ...         ...   ...  ...   ...    ...    ...  ..
1938 2020-12-29  北京  拼多多  588682-010   皮皮虾  269    50   4388  13450  12
1939 2020-12-29  北京   天猫  599007-513   皮皮虾  349    18   2466   6282  12
1940 2020-12-30  北京   京东      D89677  花花姑娘  269    26   1560   6994  12
1941 2020-12-30  福建   实体  182719-050   八匹马   79    97   3028   7663  12
1942 2020-12-31  福建   实体      G70083  花花姑娘  269    55   2277  14795  12

[1839 rows x 10 columns]

In [47]:
# 重置索引
# drop=False - 默认值 - 原来的索引变成一个普通列
# drop=True - 原来的索引直接丢弃
df6.reset_index(drop=True, inplace=True)
df6

           销售日期  区域   渠道         订单号    品牌   售价  销售数量   直接成本    销售额  月份
0    2020-01-01  上海   天猫  205654-519   八匹马  169    14    485   2366   1
1    2020-01-01  上海   天猫  377781-010   皮皮虾  249    61   2452  15189   1
2    2020-01-02  上海   京东  543369-010   皮皮虾  799    68  15203  54332   1
3    2020-01-02  上海  拼多多  588685-002   皮皮虾  299    91   8008  27209   1
4    2020-01-03  上海   天猫   AKLH641-1    壁虎  239    82   4127  19598   1
...         ...  ..  ...         ...   ...  ...   ...    ...    ...  ..
1834 2020-12-29  北京  拼多多  588682-010   皮皮虾  269    50   4388  13450  12
1835 2020-12-29  北京   天猫  599007-513   皮皮虾  349    18   2466   6282  12
1836 2020-12-30  北京   京东      D89677  花花姑娘  269    26   1560   6994  12
1837 2020-12-30  福建   实体  182719-050   八匹马   79    97   3028   7663  12
1838 2020-12-31  福建   实体      G70083  花花姑娘  269    55   2277  14795  12

[1839 rows x 10 columns]

In [48]:
# 设置索引
df6.set_index('订单号', inplace=True)
df6

                 销售日期  区域   渠道    品牌   售价  销售数量   直接成本    销售额  月份
订单号
205654-519 2020-01-01  上海   天猫   八匹马  169    14    485   2366   1
377781-010 2020-01-01  上海   天猫   皮皮虾  249    61   2452  15189   1
543369-010 2020-01-02  上海   京东   皮皮虾  799    68  15203  54332   1
588685-002 2020-01-02  上海  拼多多   皮皮虾  299    91   8008  27209   1
AKLH641-1  2020-01-03  上海   天猫    壁虎  239    82   4127  19598   1
...               ...  ..  ...   ...  ...   ...    ...    ...  ..
588682-010 2020-12-29  北京  拼多多   皮皮虾  269    50   4388  13450  12
599007-513 2020-12-29  北京   天猫   皮皮虾  349    18   2466   6282  12
D89677     2020-12-30  北京   京东  花花姑娘  269    26   1560   6994  12
182719-050 2020-12-30  福建   实体   八匹马   79    97   3028   7663  12
G70083     2020-12-31  福建   实体  花花姑娘  269    55   2277  14795  12

[1839 rows x 9 columns]

In [49]:
# 筛选数据 - 布尔索引
df6[df6['销售额'] > 100000]

                 销售日期  区域   渠道    品牌    售价  销售数量   直接成本     销售额  月份
订单号
G70509     2020-02-03  北京  拼多多  花花姑娘  1499    89  52302  133411   2
G72186     2020-04-11  江苏   天猫  花花姑娘  1299    88  18381  114312   4
543367-077 2020-04-12  北京  拼多多   皮皮虾  1199    88  25674  105512   4
G68188     2020-06-08  北京  拼多多  花花姑娘  1299    80  29819  103920   6
577714-010 2020-06-17  上海  拼多多   皮皮虾  1199    97  40884  116303   6
543367-077 2020-08-28  上海   天猫   皮皮虾  1199    89  45442  106711   8
G68188     2020-09-19  广东  拼多多  花花姑娘  1299    93  34290  120807   9

In [50]:
df6[(df6['销售额'] > 100000) & (df6['月份'] == 6)]

                 销售日期  区域   渠道    品牌    售价  销售数量   直接成本     销售额  月份
订单号
G68188     2020-06-08  北京  拼多多  花花姑娘  1299    80  29819  103920   6
577714-010 2020-06-17  上海  拼多多   皮皮虾  1199    97  40884  116303   6

In [51]:
df6[(df6['销售额'] > 100000) | (df6['月份'] == 6)]

                     销售日期  区域   渠道    品牌    售价  销售数量   直接成本     销售额  月份
订单号
G70509         2020-02-03  北京  拼多多  花花姑娘  1499    89  52302  133411   2
G72186         2020-04-11  江苏   天猫  花花姑娘  1299    88  18381  114312   4
543367-077     2020-04-12  北京  拼多多   皮皮虾  1199    88  25674  105512   4
204396-900/021 2020-06-01  北京  拼多多   啊哟喂   199    55   4221   10945   6
AHSJ008-2      2020-06-01  北京   天猫    壁虎   139    61   3640    8479   6
...                   ...  ..  ...   ...   ...   ...    ...     ...  ..
543179-011     2020-06-30  上海   京东   皮皮虾   429    74  11601   31746   6
AKLH641-1      2020-06-30  上海   实体    壁虎   239    67   3490   16013   6
158631-050     2020-06-30  北京   天猫   八匹马    99    89   1421    8811   6
543367-077     2020-08-28  上海   天猫   皮皮虾  1199    89  45442  106711   8
G68188         2020-09-19  广东  拼多多  花花姑娘  1299    93  34290  120807   9

[152 rows x 9 columns]

In [52]:
df6.query('销售额 > 100000')

                 销售日期  区域   渠道    品牌    售价  销售数量   直接成本     销售额  月份
订单号
G70509     2020-02-03  北京  拼多多  花花姑娘  1499    89  52302  133411   2
G72186     2020-04-11  江苏   天猫  花花姑娘  1299    88  18381  114312   4
543367-077 2020-04-12  北京  拼多多   皮皮虾  1199    88  25674  105512   4
G68188     2020-06-08  北京  拼多多  花花姑娘  1299    80  29819  103920   6
577714-010 2020-06-17  上海  拼多多   皮皮虾  1199    97  40884  116303   6
543367-077 2020-08-28  上海   天猫   皮皮虾  1199    89  45442  106711   8
G68188     2020-09-19  广东  拼多多  花花姑娘  1299    93  34290  120807   9

In [53]:
df6.query('月份 == 6 and 渠道 == "实体"')

                    销售日期  区域  渠道    品牌   售价  销售数量   直接成本    销售额  月份
订单号
D86056        2020-06-01  北京  实体  花花姑娘  469    24   3445  11256   6
543179-011    2020-06-02  北京  实体   皮皮虾  429    58   8002  24882   6
AKLH651-2     2020-06-04  北京  实体    壁虎  299    78   3577  23322   6
F89396        2020-06-07  福建  实体  花花姑娘  199    93   7370  18507   6
X23567        2020-06-09  上海  实体  花花姑娘  429    46   6484  19734   6
G71183        2020-06-10  北京  实体  花花姑娘  369    93   9247  34317   6
D89458        2020-06-11  北京  实体  花花姑娘  299    85   6379  25415   6
AKLJ034-3     2020-06-12  福建  实体    壁虎  239    81   8048  19359   6
AHSJ017-3     2020-06-13  福建  实体    壁虎  139    96   5892  13344   6
182802-050    2020-06-15  上海  实体   八匹马  199    26   1760   5174   6
G70260        2020-06-15  福建  实体  花花姑娘  329    15   1491   4935   6
FT001-18-1763 2020-06-17  上海  实体   八匹马  699    98  25835  68502   6
182717-001    2020-06-18  北京  实体   八匹马   69    10    255    690   6
158631-050    2020-06-20  福建  实体   八匹马   99    66   2670   6534   6
D87692        2020-06-22  福建  实体  花花姑娘  399    82   5058  32718   6
158636-050    2020-06-25  北京  实体   八匹马  119    22    781   2618   6
G80825        2020-06-28  北京  实体  花花姑娘  399    84  12260  33516   6
X12399        2020-06-29  上海  实体  花花姑娘  329    83   4926  27307   6
AKLH641-1     2020-06-30  上海  实体    壁虎  239    67   3490  16013   6

In [54]:
df6.query('销售额 > 100000 and 月份 == 6')

                 销售日期  区域   渠道    品牌    售价  销售数量   直接成本     销售额  月份
订单号
G68188     2020-06-08  北京  拼多多  花花姑娘  1299    80  29819  103920   6
577714-010 2020-06-17  上海  拼多多   皮皮虾  1199    97  40884  116303   6

In [55]:
# 随机抽样
df6.sample(n=100)

                     销售日期  区域  渠道    品牌    售价  销售数量   直接成本    销售额  月份
订单号
205333-031     2020-12-21  北京  京东   八匹马   169    98   6150  16562  12
F76717         2020-06-24  福建  天猫  花花姑娘   429    15   2403   6435   6
577714-010     2020-02-01  北京  天猫   皮皮虾  1199    55  22707  65945   2
F45562         2020-04-16  福建  天猫  花花姑娘   599    90  14111  53910   4
211466-901/519 2020-01-29  上海  天猫   八匹马   199    52   4651  10348   1
...                   ...  ..  ..   ...   ...   ...    ...    ...  ..
F76716         2020-04-20  上海  天猫  花花姑娘   429    70  11772  30030   4
G69627         2020-06-09  北京  天猫  花花姑娘   999    36  14206  35964   6
588670-010     2020-02-15  上海  抖音   皮皮虾   499    75  15335  37425   2
D86041         2020-03-11  上海  天猫  花花姑娘   399    40   5490  15960   3
204266-050     2020-09-26  上海  抖音   啊哟喂   239    46   4116  10994   9

[100 rows x 9 columns]

In [56]:
df6.sample(frac=0.05)

                 销售日期  区域   渠道    品牌   售价  销售数量   直接成本    销售额  月份
订单号
G74904     2020-08-18  北京   京东  花花姑娘  499    88  15952  43912   8
D89096     2020-03-29  上海  拼多多  花花姑娘  399    73  13022  29127   3
F89399     2020-02-14  上海   抖音  花花姑娘  499    46   5758  22954   2
D87692     2020-10-29  福建  拼多多  花花姑娘  399    48   8074  19152  10
205301-477 2020-11-24  广东   京东   八匹马  199    47   1762   9353  11
...               ...  ..  ...   ...  ...   ...    ...    ...  ..
543369-010 2020-01-02  上海   京东   皮皮虾  799    68  15203  54332   1
G72212     2020-07-07  江苏   天猫  花花姑娘  899    45   6922  40455   7
479935-012 2020-08-02  北京   京东   皮皮虾  349    25   2098   8725   8
480239-010 2020-09-02  福建   抖音   皮皮虾  299    36   4384  10764   9
AWDH721-2  2020-07-04  上海   抖音    壁虎  269    39   4597  10491   7

[92 rows x 9 columns]

In [57]:
# replace=False - 无放回抽样
ignore_rows = np.random.choice(np.arange(1, 1946), size=int(1945 * 0.9), replace=False)
pd.read_excel(
    'res/2020年销售数据.xlsx',
    sheet_name='data',
    skiprows=ignore_rows
)

          销售日期 销售区域 销售渠道        销售订单    品牌   售价  销售数量  直接成本
0   2020-01-01   上海   天猫  205654-021   八匹马  169    85  6320
1   2020-01-01   上海   天猫  377781-010   皮皮虾  249    61  2452
2   2020-01-03   上海   天猫   FT001-N10   八匹马  699    50  8380
3   2020-01-04   上海   实体   FT001-N10   八匹马  699    15  2635
4   2020-01-06   上海   抖音      G70357  花花姑娘  699    49  8809
..         ...  ...  ...         ...   ...  ...   ...   ...
190 2020-12-05   福建   抖音      G69924  花花姑娘  599    75  7057
191 2020-12-07   福建  拼多多  182898-258   八匹马   99    99  2506
192 2020-12-10   北京   抖音   AKLJ041-2    壁虎  269    42  1746
193 2020-12-21   北京   京东  205333-031   八匹马  169    98  6150
194 2020-12-24   福建   实体      D88376  花花姑娘  269    32  2006

[195 rows x 8 columns]

### 数据重塑

1. 拼接（合并结构一致的数据）
2. 合并（事实表连接维度表）

In [58]:
# 拼接两个DataFrame - union
all_emp_df = pd.concat([emp_df1, emp_df2])
all_emp_df.shape

(19, 6)

In [59]:
# 连表 - 连接事实表和维度表 - 用维度把数据分组然后再做聚合
# 连接两个DataFrame（内连接、左外连接、右外连接、全外连接）- join
# how - 连表方式 - inner、left、right、outer
# on - 基于哪个字段连表 - left_on、right_on
all_emp_df = pd.merge(all_emp_df, dept_df, how='inner', on='dno')
all_emp_df

   ename   job     mgr    sal    comm  dno dname dloc
0    胡一刀   销售员  3344.0   1800   200.0   30   销售部   重庆
1     乔峰   分析师  7800.0   5000  1500.0   20   研发部   成都
2    李莫愁   设计师  2056.0   3500   800.0   20   研发部   成都
3    张无忌   程序员  2056.0   3200     NaN   20   研发部   成都
4    丘处机   程序员  2056.0   3400     NaN   20   研发部   成都
5    欧阳锋   程序员  3088.0   3200     NaN   20   研发部   成都
6    张翠山   程序员  2056.0   4000     NaN   20   研发部   成都
7     黄蓉  销售主管  7800.0   3000   800.0   30   销售部   重庆
8     杨过    会计  5566.0   2200     NaN   10   会计部   北京
9    朱九真    会计  5566.0   2500     NaN   10   会计部   北京
10   苗人凤   销售员  3344.0   2500     NaN   30   销售部   重庆
11    郭靖    出纳  5566.0   2000     NaN   10   会计部   北京
12   宋远桥   会计师  7800.0   4000  1000.0   10   会计部   北京
13   张三丰    总裁     NaN   9000  1200.0   20   研发部   成都
14   张三丰    总裁     NaN  50000  8000.0   20   研发部   成都
15   王大锤   程序员  9800.0   8000   600.0   20   研发部   成都
16   张三丰    总裁     NaN  60000  6000.0   20   研发部   成都
17    骆昊   架构师  7800.0  30000  5000.0   20   研发部   成都
18   陈小刀   分析师  9800.0  10000  1200.0   20   研发部   成都

In [60]:
# 作业：在jobs目录下有若干个CVS文件，它们的数据结构是一样的，现在需要把所有CSV文件的数据拼接到一个DataFrame中
import os

dfs = [pd.read_csv(os.path.join('res/jobs', filename))
       for filename in os.listdir('res/jobs') 
       if filename.endswith('.csv')]
pd.concat(dfs, ignore_index=True).to_csv('res/all_jobs.csv', index=False)

### 数据清洗

1. 缺失值
2. 重复值
3. 异常值
4. 预处理

In [61]:
# 甄别缺失值
all_emp_df.isna()

    ename    job    mgr    sal   comm    dno  dname   dloc
0   False  False  False  False  False  False  False  False
1   False  False  False  False  False  False  False  False
2   False  False  False  False  False  False  False  False
3   False  False  False  False   True  False  False  False
4   False  False  False  False   True  False  False  False
5   False  False  False  False   True  False  False  False
6   False  False  False  False   True  False  False  False
7   False  False  False  False  False  False  False  False
8   False  False  False  False   True  False  False  False
9   False  False  False  False   True  False  False  False
10  False  False  False  False   True  False  False  False
11  False  False  False  False   True  False  False  False
12  False  False  False  False  False  False  False  False
13  False  False   True  False  False  False  False  False
14  False  False   True  False  False  False  False  False
15  False  False  False  False  False  False  False  False
16  False  False   True  False  False  False  False  False
17  False  False  False  False  False  False  False  False
18  False  False  False  False  False  False  False  False

In [62]:
# all_emp_df['comm'].isna()
all_emp_df['comm'].isnull()

0     False
1     False
2     False
3      True
4      True
5      True
6      True
7     False
8      True
9      True
10     True
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
Name: comm, dtype: bool

In [63]:
# all_emp_df['comm'].notna()
all_emp_df['comm'].notnull()

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12     True
13     True
14     True
15     True
16     True
17     True
18     True
Name: comm, dtype: bool

In [64]:
all_emp_df['comm'].notna().value_counts()

comm
True     11
False     8
Name: count, dtype: int64

In [65]:
# 删除空值 - 删除带有空值的行
all_emp_df.dropna()

   ename   job     mgr    sal    comm  dno dname dloc
0    胡一刀   销售员  3344.0   1800   200.0   30   销售部   重庆
1     乔峰   分析师  7800.0   5000  1500.0   20   研发部   成都
2    李莫愁   设计师  2056.0   3500   800.0   20   研发部   成都
7     黄蓉  销售主管  7800.0   3000   800.0   30   销售部   重庆
12   宋远桥   会计师  7800.0   4000  1000.0   10   会计部   北京
15   王大锤   程序员  9800.0   8000   600.0   20   研发部   成都
17    骆昊   架构师  7800.0  30000  5000.0   20   研发部   成都
18   陈小刀   分析师  9800.0  10000  1200.0   20   研发部   成都

In [66]:
all_emp_df.dropna(axis=1)

   ename   job    sal  dno dname dloc
0    胡一刀   销售员   1800   30   销售部   重庆
1     乔峰   分析师   5000   20   研发部   成都
2    李莫愁   设计师   3500   20   研发部   成都
3    张无忌   程序员   3200   20   研发部   成都
4    丘处机   程序员   3400   20   研发部   成都
5    欧阳锋   程序员   3200   20   研发部   成都
6    张翠山   程序员   4000   20   研发部   成都
7     黄蓉  销售主管   3000   30   销售部   重庆
8     杨过    会计   2200   10   会计部   北京
9    朱九真    会计   2500   10   会计部   北京
10   苗人凤   销售员   2500   30   销售部   重庆
11    郭靖    出纳   2000   10   会计部   北京
12   宋远桥   会计师   4000   10   会计部   北京
13   张三丰    总裁   9000   20   研发部   成都
14   张三丰    总裁  50000   20   研发部   成都
15   王大锤   程序员   8000   20   研发部   成都
16   张三丰    总裁  60000   20   研发部   成都
17    骆昊   架构师  30000   20   研发部   成都
18   陈小刀   分析师  10000   20   研发部   成都

In [67]:
all_emp_df.mgr.dropna()

0     3344.0
1     7800.0
2     2056.0
3     2056.0
4     2056.0
5     3088.0
6     2056.0
7     7800.0
8     5566.0
9     5566.0
10    3344.0
11    5566.0
12    7800.0
15    9800.0
17    7800.0
18    9800.0
Name: mgr, dtype: float64

In [68]:
# 填充空值
all_emp_df.fillna(0)

   ename   job     mgr    sal    comm  dno dname dloc
0    胡一刀   销售员  3344.0   1800   200.0   30   销售部   重庆
1     乔峰   分析师  7800.0   5000  1500.0   20   研发部   成都
2    李莫愁   设计师  2056.0   3500   800.0   20   研发部   成都
3    张无忌   程序员  2056.0   3200     0.0   20   研发部   成都
4    丘处机   程序员  2056.0   3400     0.0   20   研发部   成都
5    欧阳锋   程序员  3088.0   3200     0.0   20   研发部   成都
6    张翠山   程序员  2056.0   4000     0.0   20   研发部   成都
7     黄蓉  销售主管  7800.0   3000   800.0   30   销售部   重庆
8     杨过    会计  5566.0   2200     0.0   10   会计部   北京
9    朱九真    会计  5566.0   2500     0.0   10   会计部   北京
10   苗人凤   销售员  3344.0   2500     0.0   30   销售部   重庆
11    郭靖    出纳  5566.0   2000     0.0   10   会计部   北京
12   宋远桥   会计师  7800.0   4000  1000.0   10   会计部   北京
13   张三丰    总裁     0.0   9000  1200.0   20   研发部   成都
14   张三丰    总裁     0.0  50000  8000.0   20   研发部   成都
15   王大锤   程序员  9800.0   8000   600.0   20   研发部   成都
16   张三丰    总裁     0.0  60000  6000.0   20   研发部   成都
17    骆昊   架构师  7800.0  30000  5000.0   20   研发部   成都
18   陈小刀   分析师  9800.0  10000  1200.0   20   研发部   成都

In [69]:
all_emp_df.comm.fillna(0).astype('i8')

0      200
1     1500
2      800
3        0
4        0
5        0
6        0
7      800
8        0
9        0
10       0
11       0
12    1000
13    1200
14    8000
15     600
16    6000
17    5000
18    1200
Name: comm, dtype: int64

In [70]:
# 将空值下方的非空值向上填充 - backward fill
all_emp_df.comm.bfill()

0      200.0
1     1500.0
2      800.0
3      800.0
4      800.0
5      800.0
6      800.0
7      800.0
8     1000.0
9     1000.0
10    1000.0
11    1000.0
12    1000.0
13    1200.0
14    8000.0
15     600.0
16    6000.0
17    5000.0
18    1200.0
Name: comm, dtype: float64

In [71]:
# 将空值上方的非空值向下填充 - forward fill
all_emp_df.comm.ffill()

0      200.0
1     1500.0
2      800.0
3      800.0
4      800.0
5      800.0
6      800.0
7      800.0
8      800.0
9      800.0
10     800.0
11     800.0
12    1000.0
13    1200.0
14    8000.0
15     600.0
16    6000.0
17    5000.0
18    1200.0
Name: comm, dtype: float64

In [72]:
# 通过插值算法填充空值 - interpolate
all_emp_df['comm'] = all_emp_df.comm.interpolate(method='linear')

In [73]:
all_emp_df['comm'] = all_emp_df.comm.astype('i8')
all_emp_df

   ename   job     mgr    sal  comm  dno dname dloc
0    胡一刀   销售员  3344.0   1800   200   30   销售部   重庆
1     乔峰   分析师  7800.0   5000  1500   20   研发部   成都
2    李莫愁   设计师  2056.0   3500   800   20   研发部   成都
3    张无忌   程序员  2056.0   3200   800   20   研发部   成都
4    丘处机   程序员  2056.0   3400   800   20   研发部   成都
5    欧阳锋   程序员  3088.0   3200   800   20   研发部   成都
6    张翠山   程序员  2056.0   4000   800   20   研发部   成都
7     黄蓉  销售主管  7800.0   3000   800   30   销售部   重庆
8     杨过    会计  5566.0   2200   840   10   会计部   北京
9    朱九真    会计  5566.0   2500   880   10   会计部   北京
10   苗人凤   销售员  3344.0   2500   920   30   销售部   重庆
11    郭靖    出纳  5566.0   2000   960   10   会计部   北京
12   宋远桥   会计师  7800.0   4000  1000   10   会计部   北京
13   张三丰    总裁     NaN   9000  1200   20   研发部   成都
14   张三丰    总裁     NaN  50000  8000   20   研发部   成都
15   王大锤   程序员  9800.0   8000   600   20   研发部   成都
16   张三丰    总裁     NaN  60000  6000   20   研发部   成都
17    骆昊   架构师  7800.0  30000  5000   20   研发部   成都
18   陈小刀   分析师  9800.0  10000  1200   20   研发部   成都

In [74]:
all_emp_df['mgr'] = all_emp_df.mgr.fillna(-1).astype('i8')
all_emp_df

   ename   job   mgr    sal  comm  dno dname dloc
0    胡一刀   销售员  3344   1800   200   30   销售部   重庆
1     乔峰   分析师  7800   5000  1500   20   研发部   成都
2    李莫愁   设计师  2056   3500   800   20   研发部   成都
3    张无忌   程序员  2056   3200   800   20   研发部   成都
4    丘处机   程序员  2056   3400   800   20   研发部   成都
5    欧阳锋   程序员  3088   3200   800   20   研发部   成都
6    张翠山   程序员  2056   4000   800   20   研发部   成都
7     黄蓉  销售主管  7800   3000   800   30   销售部   重庆
8     杨过    会计  5566   2200   840   10   会计部   北京
9    朱九真    会计  5566   2500   880   10   会计部   北京
10   苗人凤   销售员  3344   2500   920   30   销售部   重庆
11    郭靖    出纳  5566   2000   960   10   会计部   北京
12   宋远桥   会计师  7800   4000  1000   10   会计部   北京
13   张三丰    总裁    -1   9000  1200   20   研发部   成都
14   张三丰    总裁    -1  50000  8000   20   研发部   成都
15   王大锤   程序员  9800   8000   600   20   研发部   成都
16   张三丰    总裁    -1  60000  6000   20   研发部   成都
17    骆昊   架构师  7800  30000  5000   20   研发部   成都
18   陈小刀   分析师  9800  10000  1200   20   研发部   成都

In [75]:
# 甄别重复值
all_emp_df.ename.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15    False
16     True
17    False
18    False
Name: ename, dtype: bool

In [76]:
all_emp_df.duplicated(['ename', 'job'])

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15    False
16     True
17    False
18    False
dtype: bool

In [77]:
# 统计每个元素出现的频次
all_emp_df.ename.value_counts()

ename
张三丰    3
胡一刀    1
朱九真    1
骆昊     1
王大锤    1
宋远桥    1
郭靖     1
苗人凤    1
杨过     1
乔峰     1
黄蓉     1
张翠山    1
欧阳锋    1
丘处机    1
张无忌    1
李莫愁    1
陈小刀    1
Name: count, dtype: int64

In [78]:
all_emp_df.job.value_counts()

job
程序员     5
总裁      3
销售员     2
分析师     2
会计      2
设计师     1
销售主管    1
出纳      1
会计师     1
架构师     1
Name: count, dtype: int64

In [79]:
# 统计不重复的元素的个数
all_emp_df.ename.nunique()

17

In [80]:
# 删除重复值
# keep='first' - 默认值，重复元素保留第一项 - 'last' / False
all_emp_df.drop_duplicates(['ename', 'job'], keep='last', inplace=True)
all_emp_df

   ename   job   mgr    sal  comm  dno dname dloc
0    胡一刀   销售员  3344   1800   200   30   销售部   重庆
1     乔峰   分析师  7800   5000  1500   20   研发部   成都
2    李莫愁   设计师  2056   3500   800   20   研发部   成都
3    张无忌   程序员  2056   3200   800   20   研发部   成都
4    丘处机   程序员  2056   3400   800   20   研发部   成都
5    欧阳锋   程序员  3088   3200   800   20   研发部   成都
6    张翠山   程序员  2056   4000   800   20   研发部   成都
7     黄蓉  销售主管  7800   3000   800   30   销售部   重庆
8     杨过    会计  5566   2200   840   10   会计部   北京
9    朱九真    会计  5566   2500   880   10   会计部   北京
10   苗人凤   销售员  3344   2500   920   30   销售部   重庆
11    郭靖    出纳  5566   2000   960   10   会计部   北京
12   宋远桥   会计师  7800   4000  1000   10   会计部   北京
15   王大锤   程序员  9800   8000   600   20   研发部   成都
16   张三丰    总裁    -1  60000  6000   20   研发部   成都
17    骆昊   架构师  7800  30000  5000   20   研发部   成都
18   陈小刀   分析师  9800  10000  1200   20   研发部   成都

In [81]:
# 异常值的甄别
# 数值判定法（data < Q1 - 1.5 * IQR 或者 data > Q3 + 1.5 * IQR）


def find_outliers_by_iqr(data, whis=1.5):
    q1, q3 = np.quantile(data, [0.25, 0.75])
    iqr = q3 - q1
    return data[(data < q1 - whis * iqr) | (data > q3 + whis * iqr)]

In [82]:
temp = np.random.normal(80, 8, 50).round(0)
temp = np.append(temp, [120, 160, 200, 40, 20, -50])
temp

array([ 83.,  81.,  89.,  89.,  76.,  79.,  78.,  76.,  79.,  74.,  89.,
        61.,  90.,  74.,  68.,  81.,  81.,  93.,  69.,  81.,  76.,  87.,
        80.,  90.,  72.,  89.,  72.,  71.,  93.,  75.,  75.,  73.,  85.,
        91.,  96.,  82.,  74.,  80.,  72.,  83.,  72.,  64.,  83.,  79.,
        78.,  68.,  68.,  70.,  68.,  84., 120., 160., 200.,  40.,  20.,
       -50.])

In [83]:
find_outliers_by_iqr(temp)

array([120., 160., 200.,  40.,  20., -50.])

In [84]:
find_outliers_by_iqr(temp, whis=3)

array([160., 200.,  20., -50.])

In [85]:
# zscore判定法（三西格玛法则 ---> 68-95-99.7法则）


def find_outliers_by_zscore(data, mul=3):
    mu, sigma = np.mean(data), np.std(data)
    zscore = (data - mu) / sigma
    return data[np.abs(zscore) > mul]

In [86]:
find_outliers_by_zscore(temp)

array([200., -50.])

In [87]:
find_outliers_by_zscore(temp, mul=2)

array([160., 200.,  20., -50.])

In [88]:
find_outliers_by_zscore(df6.直接成本)

订单号
G69924           23688
G70509           31935
G72204           26758
G70509           31594
G72186           30583
G70509           52302
G69631           32125
543369-010       29843
543367-077       31889
G69627           31028
G69645           23947
G72201           40327
G69631           26534
543367-077       25674
G71332           35120
588705-010       25502
543367-077       31375
G68188           29819
577714-010       40884
FT001-18-1763    25835
G72186           24770
G71330           29795
577714-010       27244
FT007-18-1763    25454
G69627           24634
G69627           23537
G72204           31613
543367-077       45442
G85411           22861
G68188           34290
AYMH063-1        29307
G69645           37782
Name: 直接成本, dtype: int64

In [89]:
# 根据离群点的行索引删除行
df6.drop(index=find_outliers_by_zscore(df6.直接成本).index)

                 销售日期  区域   渠道    品牌   售价  销售数量  直接成本    销售额  月份
订单号
205654-519 2020-01-01  上海   天猫   八匹马  169    14   485   2366   1
377781-010 2020-01-01  上海   天猫   皮皮虾  249    61  2452  15189   1
588685-002 2020-01-02  上海  拼多多   皮皮虾  299    91  8008  27209   1
AKLH641-1  2020-01-03  上海   天猫    壁虎  239    82  4127  19598   1
AKLJ013-4  2020-01-03  上海   天猫    壁虎  219    57  2315  12483   1
...               ...  ..  ...   ...  ...   ...   ...    ...  ..
588682-010 2020-12-29  北京  拼多多   皮皮虾  269    50  4388  13450  12
599007-513 2020-12-29  北京   天猫   皮皮虾  349    18  2466   6282  12
D89677     2020-12-30  北京   京东  花花姑娘  269    26  1560   6994  12
182719-050 2020-12-30  福建   实体   八匹马   79    97  3028   7663  12
G70083     2020-12-31  福建   实体  花花姑娘  269    55  2277  14795  12

[1711 rows x 9 columns]

In [90]:
med_value = np.median(temp)
med_value

79.0

In [91]:
find_outliers_by_zscore(temp, mul=2)

array([160., 200.,  20., -50.])

In [92]:
np.in1d(temp, find_outliers_by_zscore(temp, mul=2))

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True,  True, False,
        True,  True])

In [93]:
# 替换离群点
np.place(temp, np.in1d(temp, find_outliers_by_zscore(temp, mul=2)), med_value)

In [94]:
temp

array([ 83.,  81.,  89.,  89.,  76.,  79.,  78.,  76.,  79.,  74.,  89.,
        61.,  90.,  74.,  68.,  81.,  81.,  93.,  69.,  81.,  76.,  87.,
        80.,  90.,  72.,  89.,  72.,  71.,  93.,  75.,  75.,  73.,  85.,
        91.,  96.,  82.,  74.,  80.,  72.,  83.,  72.,  64.,  83.,  79.,
        78.,  68.,  68.,  70.,  68.,  84., 120.,  79.,  79.,  40.,  79.,
        79.])

#### 案例1：招聘数据清洗和预处理

1. 数据加载
2. 去重
3. 数据抽取
4. 拆分列
5. 替换值
6. 数据筛选

In [95]:
jobs_df = pd.read_csv('res/all_jobs.csv')
jobs_df.head(10)

,company_name,uri,salary,site,year,edu,job_name,city,pos_count
0,软通动力集团,https://www.zhipin.com/job_detail/7ece55fbcbf7...,10-15K,成都 武侯区 草金立交,1-3年,本科,python开发,chengdu,2
1,思湃德,https://www.zhipin.com/job_detail/760b2b05535c...,20-40K,成都 双流区 华阳,3-5年,本科,Python,chengdu,5
2,源码时代,https://www.zhipin.com/job_detail/9575f02d9a9f...,15-20K,成都 武侯区 石羊,3-5年,大专,python 讲师,chengdu,3
3,三源合众,https://www.zhipin.com/job_detail/912b6da8b12f...,6-10K,成都 武侯区 新会展,1年以内,本科,Python,chengdu,1
4,软通动力,https://www.zhipin.com/job_detail/c61ef9b261da...,8-13K,成都 武侯区 机投,1-3年,本科,python开发,chengdu,3
5,中佳业,https://www.zhipin.com/job_detail/4fbb387a96ff...,7-8K·13薪,成都 武侯区 肖家河,3-5年,大专,C++/Python,chengdu,4
6,知行天下,https://www.zhipin.com/job_detail/17fe77fdd3b1...,7-12K,成都 龙泉驿区 龙泉,1年以内,大专,Python讲师,chengdu,1
7,川大智胜,https://www.zhipin.com/job_detail/77186b69e915...,8-13K,成都 武侯区 保利花园,3-5年,本科,Python,chengdu,1
8,电科荷福研究院,https://www.zhipin.com/job_detail/586d4207f3d7...,7-12K,成都 郫都区 高新西,3-5年,本科,python后端开发,chengdu,6
9,傲梦网络科技,https://www.zhipin.com/job_detail/dafa272932d0...,3-8K,成都 武侯区 高升桥,经验不限,本科,python线上试听课老师,chengdu,6

In [96]:
# 根据URI列去重
jobs_df.drop_duplicates('uri', inplace=True)
jobs_df.shape

(9777, 9)

In [97]:
# 通过正则表达式从列中提取信息
jobs_df[['salary_lower', 'salary_upper']] = jobs_df.salary.str.extract(r'(\d+)-(\d+)').astype('i8')
jobs_df['salary'] = (jobs_df.salary_lower + jobs_df.salary_upper) / 2
jobs_df

,company_name,uri,salary,site,year,edu,job_name,city,pos_count,salary_lower,salary_upper
0,软通动力集团,https://www.zhipin.com/job_detail/7ece55fbcbf7...,12.5,成都 武侯区 草金立交,1-3年,本科,python开发,chengdu,2,10,15
1,思湃德,https://www.zhipin.com/job_detail/760b2b05535c...,30.0,成都 双流区 华阳,3-5年,本科,Python,chengdu,5,20,40
2,源码时代,https://www.zhipin.com/job_detail/9575f02d9a9f...,17.5,成都 武侯区 石羊,3-5年,大专,python 讲师,chengdu,3,15,20
3,三源合众,https://www.zhipin.com/job_detail/912b6da8b12f...,8.0,成都 武侯区 新会展,1年以内,本科,Python,chengdu,1,6,10
4,软通动力,https://www.zhipin.com/job_detail/c61ef9b261da...,10.5,成都 武侯区 机投,1-3年,本科,python开发,chengdu,3,8,13
...,...,...,...,...,...,...,...,...,...,...,...
9820,公众智能,https://www.zhipin.com/job_detail/7b9c08dbce81...,9.0,西安,3-5年,本科,产品经理,xian,2,8,10
9821,微感,https://www.zhipin.com/job_detail/c7e99005528f...,9.0,西安 雁塔区 紫薇田园都市,3-5年,大专,产品经理,xian,4,8,10
9822,巴斯光年,https://www.zhipin.com/job_detail/1045fe64f248...,15.0,西安 雁塔区 大雁塔,3-5年,本科,产品经理,xian,6,10,20
9823,西大华特科技,https://www.zhipin.com/job_detail/e3c21cc748e7...,6.5,西安 雁塔区 唐延路,1-3年,硕士,产品经理（农药）,xian,6,5,8
9824,西安纯粹科技,https://www.zhipin.com/job_detail/09965129db3e...,4.5,西安 雁塔区 玫瑰大楼,1-3年,本科,产品经理,xian,5,3,6

In [98]:
jobs_df.drop(columns=['uri', 'city'], inplace=True)
jobs_df

,company_name,salary,site,year,edu,job_name,pos_count,salary_lower,salary_upper
0,软通动力集团,12.5,成都 武侯区 草金立交,1-3年,本科,python开发,2,10,15
1,思湃德,30.0,成都 双流区 华阳,3-5年,本科,Python,5,20,40
2,源码时代,17.5,成都 武侯区 石羊,3-5年,大专,python 讲师,3,15,20
3,三源合众,8.0,成都 武侯区 新会展,1年以内,本科,Python,1,6,10
4,软通动力,10.5,成都 武侯区 机投,1-3年,本科,python开发,3,8,13
...,...,...,...,...,...,...,...,...,...
9820,公众智能,9.0,西安,3-5年,本科,产品经理,2,8,10
9821,微感,9.0,西安 雁塔区 紫薇田园都市,3-5年,大专,产品经理,4,8,10
9822,巴斯光年,15.0,西安 雁塔区 大雁塔,3-5年,本科,产品经理,6,10,20
9823,西大华特科技,6.5,西安 雁塔区 唐延路,1-3年,硕士,产品经理（农药）,6,5,8
9824,西安纯粹科技,4.5,西安 雁塔区 玫瑰大楼,1-3年,本科,产品经理,5,3,6

In [99]:
# 拆分列
jobs_df['city'] = jobs_df.site.str.split(expand=True)[0]
jobs_df.drop(columns='site', inplace=True)
jobs_df

,company_name,salary,year,edu,job_name,pos_count,salary_lower,salary_upper,city
0,软通动力集团,12.5,1-3年,本科,python开发,2,10,15,成都
1,思湃德,30.0,3-5年,本科,Python,5,20,40,成都
2,源码时代,17.5,3-5年,大专,python 讲师,3,15,20,成都
3,三源合众,8.0,1年以内,本科,Python,1,6,10,成都
4,软通动力,10.5,1-3年,本科,python开发,3,8,13,成都
...,...,...,...,...,...,...,...,...,...
9820,公众智能,9.0,3-5年,本科,产品经理,2,8,10,西安
9821,微感,9.0,3-5年,大专,产品经理,4,8,10,西安
9822,巴斯光年,15.0,3-5年,本科,产品经理,6,10,20,西安
9823,西大华特科技,6.5,1-3年,硕士,产品经理（农药）,6,5,8,西安
9824,西安纯粹科技,4.5,1-3年,本科,产品经理,5,3,6,西安

In [100]:
# 字符串正则表达式替换
jobs_df['year'] = jobs_df.year.replace(r'5-10年|10年以上', '5年以上', regex=True)

In [101]:
jobs_df.year.unique()

array(['1-3年', '3-5年', '1年以内', '经验不限', '5年以上', '应届生'], dtype=object)

In [102]:
jobs_df['edu'] = jobs_df.edu.replace(r'中专|高中', '学历不限', regex=True)
jobs_df['edu'] = jobs_df.edu.replace(r'硕士|博士', '研究生', regex=True)

In [103]:
jobs_df.edu.unique()

array(['本科', '大专', '学历不限', '研究生'], dtype=object)

In [104]:
jobs_df['job_name'] = jobs_df.job_name.str.lower()
jobs_df = jobs_df[jobs_df.job_name.str.contains('python|数据|产品|运营|data', regex=True)]
jobs_df.shape

(6487, 9)

In [105]:
jobs_df.to_csv('res/cleand_jobs.csv', index=False)

#### 案例2：北京积分落户数据预处理

1. 加载数据
2. 日期时间处理
3. 年龄段分箱
4. 落户积分归一化

In [106]:
settle_df = pd.read_csv('res/2023年北京积分落户数据.csv', index_col='公示编号')
settle_df.head(5)

            姓名     出生年月            单位名称    积分分值
公示编号
202300001   张浩  1977-02      北京首钢股份有限公司  140.05
202300002   冯云  1982-02   中国人民解放军空军二十三厂  134.29
202300003  王天东  1975-01  中建二局第三建筑工程有限公司  133.63
202300004   陈军  1976-07  中建二局第三建筑工程有限公司  133.29
202300005  樊海瑞  1981-06    中国民生银行股份有限公司  132.46

In [107]:
settle_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6003 entries, 202300001 to 202306003
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      6003 non-null   object
 1   出生年月    6003 non-null   object
 2   单位名称    6003 non-null   object
 3   积分分值    6003 non-null   float64
dtypes: float64(1), object(3)
memory usage: 234.5+ KB

In [108]:
# 将字符串处理成日期
settle_df['出生年月'] = pd.to_datetime(settle_df['出生年月'])
settle_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6003 entries, 202300001 to 202306003
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      6003 non-null   object
 1   出生年月    6003 non-null   datetime64[ns]
 2   单位名称    6003 non-null   object
 3   积分分值    6003 non-null   float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 234.5+ KB

In [109]:
# 将生日换算成年龄
settle_df['年龄'] = (pd.to_datetime('2023-01-01') - settle_df.出生年月).dt.days // 365
settle_df.head(5)

            姓名       出生年月            单位名称    积分分值  年龄
公示编号
202300001   张浩 1977-02-01      北京首钢股份有限公司  140.05  45
202300002   冯云 1982-02-01   中国人民解放军空军二十三厂  134.29  40
202300003  王天东 1975-01-01  中建二局第三建筑工程有限公司  133.63  48
202300004   陈军 1976-07-01  中建二局第三建筑工程有限公司  133.29  46
202300005  樊海瑞 1981-06-01    中国民生银行股份有限公司  132.46  41

In [110]:
# 将年龄划分到年龄段 - 分箱 - 数据桶
settle_df['年龄段'] = pd.cut(
    settle_df.年龄,
    bins=np.arange(35, 61, 5),
    labels=['35~39岁', '40~44岁', '45~49岁', '50~54岁', '55~59岁'],
    right=False
)
settle_df.head(5)

            姓名       出生年月            单位名称    积分分值  年龄     年龄段
公示编号
202300001   张浩 1977-02-01      北京首钢股份有限公司  140.05  45  45~49岁
202300002   冯云 1982-02-01   中国人民解放军空军二十三厂  134.29  40  40~44岁
202300003  王天东 1975-01-01  中建二局第三建筑工程有限公司  133.63  48  45~49岁
202300004   陈军 1976-07-01  中建二局第三建筑工程有限公司  133.29  46  45~49岁
202300005  樊海瑞 1981-06-01    中国民生银行股份有限公司  132.46  41  40~44岁

In [111]:
# 统计每个元素出现的频次
temp = settle_df.年龄段.value_counts()
temp

年龄段
40~44岁    4215
45~49岁    1053
35~39岁     681
50~54岁      34
55~59岁      20
Name: count, dtype: int64

In [112]:
plt.cm.Greens(np.linspace(0.9, 0.1, 5))

array([[0.        , 0.39277201, 0.15816993, 1.        ],
       [0.18246828, 0.59332564, 0.30675894, 1.        ],
       [0.45176471, 0.76708958, 0.46120723, 1.        ],
       [0.72312188, 0.88961169, 0.69717801, 1.        ],
       [0.91326413, 0.96670511, 0.89619377, 1.        ]])

In [113]:
# 绘制柱状图
temp.plot(
    kind='bar',      # 图表类型
    figsize=(8, 4),  # 图表尺寸
    xlabel='',       # 横轴标签
    ylabel='Count',  # 纵轴标签
    width=0.5,       # 柱子宽度
    hatch='//',      # 柱子条纹
    color=plt.cm.Greens(np.linspace(0.9, 0.3, temp.size))  # 颜色值
)

for i in range(temp.size):
    # plt.text(横坐标, 纵坐标, 标签内容)
    plt.text(i, temp.iloc[i] + 30, temp.iloc[i], ha='center')

# 定制横轴的刻度
plt.xticks(rotation=0)
plt.show()

In [114]:
# 绘制饼图
temp.plot(
    kind='pie',
    ylabel='',
    autopct='%.1f%%',           # 自动计算并显示百分比
    wedgeprops={'width': 0.3},  # 环状结构部分的宽度
    pctdistance=0.85,           # 百分比到圆心的距离
    labeldistance=1.1,          # 标签到圆心的距离
    # shadow=True,              # 阴影效果
    # startangle=0,             # 起始角度
    counterclock=True,          # 是否反时针方向绘制
)
plt.show()

In [115]:
# agg - aggregate - 聚合
settle_df.积分分值.agg(['mean', 'max', 'min', 'std', 'skew', 'kurt'])

mean    111.849640
max     140.050000
min     109.920000
std       2.481941
skew      3.485351
kurt     17.390027
Name: 积分分值, dtype: float64

线性归一化：
$$
x^{\prime} = \frac{x - x_{min}}{x_{max} - x_{min}}
$$

In [116]:
# 将积分分值处理成0~1范围的值
max_score, min_score = settle_df.积分分值.agg(['max', 'min'])
max_score, min_score

(140.05, 109.92)

In [117]:
# map - 映射 - 将指定的函数作用到数据系列的每个元素上
# apply - 应用 - 将指定的函数应用到数据系列的每个元素上
settle_df['线性归一化积分'] = settle_df.积分分值.map(lambda x: (x - min_score) / (max_score - min_score)).round(2)
settle_df

            姓名       出生年月                 单位名称    积分分值  年龄     年龄段  线性归一化积分
公示编号
202300001   张浩 1977-02-01           北京首钢股份有限公司  140.05  45  45~49岁     1.00
202300002   冯云 1982-02-01        中国人民解放军空军二十三厂  134.29  40  40~44岁     0.81
202300003  王天东 1975-01-01       中建二局第三建筑工程有限公司  133.63  48  45~49岁     0.79
202300004   陈军 1976-07-01       中建二局第三建筑工程有限公司  133.29  46  45~49岁     0.78
202300005  樊海瑞 1981-06-01         中国民生银行股份有限公司  132.46  41  40~44岁     0.75
...        ...        ...                  ...     ...  ..     ...      ...
202305999   曹恰 1983-09-01           首都师范大学科德学院  109.92  39  35~39岁     0.00
202306000   罗佳 1981-05-01  厦门方胜众合企业服务有限公司海淀分公司  109.92  41  40~44岁     0.00
202306001  席盛代 1983-06-01  中国华能集团清洁能源技术研究院有限公司  109.92  39  35~39岁     0.00
202306002  彭芸芸 1981-09-01       北京汉杰凯德文化传播有限公司  109.92  41  40~44岁     0.00
202306003   张越 1982-01-01          大爱城投资控股有限公司  109.92  41  40~44岁     0.00

[6003 rows x 7 columns]

zscore标准化：
$$
x^{\prime} = \frac{x - \mu}{\sigma}
$$

In [118]:
mu, sigma = settle_df.积分分值.agg(['mean', 'std'])
settle_df['zscore评分'] = settle_df.积分分值.apply(lambda x: (x - mu) / sigma)
settle_df

,姓名,出生年月,单位名称,积分分值,年龄,年龄段,线性归一化积分,zscore评分
公示编号,,,,,,,,
202300001,张浩,1977-02-01,北京首钢股份有限公司,140.05,45,45~49岁,1.00,11.362219
202300002,冯云,1982-02-01,中国人民解放军空军二十三厂,134.29,40,40~44岁,0.81,9.041455
202300003,王天东,1975-01-01,中建二局第三建筑工程有限公司,133.63,48,45~49岁,0.79,8.775534
202300004,陈军,1976-07-01,中建二局第三建筑工程有限公司,133.29,46,45~49岁,0.78,8.638545
202300005,樊海瑞,1981-06-01,中国民生银行股份有限公司,132.46,41,40~44岁,0.75,8.304129
...,...,...,...,...,...,...,...,...
202305999,曹恰,1983-09-01,首都师范大学科德学院,109.92,39,35~39岁,0.00,-0.777472
202306000,罗佳,1981-05-01,厦门方胜众合企业服务有限公司海淀分公司,109.92,41,40~44岁,0.00,-0.777472
202306001,席盛代,1983-06-01,中国华能集团清洁能源技术研究院有限公司,109.92,39,35~39岁,0.00,-0.777472
202306002,彭芸芸,1981-09-01,北京汉杰凯德文化传播有限公司,109.92,41,40~44岁,0.00,-0.777472
202306003,张越,1982-01-01,大爱城投资控股有限公司,109.92,41,40~44岁,0.00,-0.777472